<br/><br/><br/>
<footer class="footer">
	<div class="footer-content">
	<div class="row">
		<div class="span6">
  			<small>
    			<p>&nbsp&copy DustRise Technologies, Inc.
  			</small>
  			<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  		</div>
  		<div class="span2">
  			<p>Company</p>
  			<p><%= link_to "Home", root_path %></p>
  			<p><%= link_to "Team", team_path %></p>
  			<p><%= link_to "Contact", contact_path %></p>
  		</div>
  		<div class="span2">
  			<p>Solutions</p>
  			<p><%= link_to "Mobile", mobile_url %></p>
            <p><%= link_to "Web 2.0", web_path %></p>
            <p><%= link_to "Big Data", bigdata_path %></p>
            <p><%= link_to "Cloud", cloud_path %></p>
  		</div>
  		<div class="span2">
  			<p>Services</p>
  			<p><%= link_to "Consulting", mobile_url %></p>
            <p><%= link_to "Staffing", web_path %></p>
            <p><%= link_to "Training", bigdata_path %></p>
  		</div>

	</div>
</div>
</footer>